body {
	width: 1000px;
	margin: 0 auto;
	padding: 0px;
}
header {
	position: relative;
	border: 1px solid #000;
	height: 210px;
}
.logo {
	position: relative;
	border: 1px solid #000;
	width: 250px;
	height: 210px;
	float: left;
}
nav a {
	
}
nav {
	position: relative;
	width: 500px;
	border: 1px solid #000;
	float: left;
	height: 210px;
}
.phone {
	border: 1px solid #000;
	float: left;
	width: 242px;
	height: 209px;
}
.slider {
	height: 807px;
	position: relative;
	border: 1px solid #000;
}
.button{
	width: 150px;
	height: 50px;
	border: 1px solid #000;
	margin-top: 20px;

}
.text{
	width: 150px;
	height: 50px;
	border: 1px solid #000;
	margin-top: 500px;
}
.vozmojnosti{
	height: 390px;
	border: 1px solid #000;

}
.sqvare1 {
	width: 200px;
	height: 200px;
	border: 1px solid #000;
	float: left;
	margin-top: 60px;
	margin-left: 30px;

}
.sqvare2 {
	width: 200px;
	height: 200px;
	border: 1px solid #000;
	float: left;
	margin-top: 60px;
	margin-left: 30px;

}
.sqvare3 {
	width: 200px;
	height: 200px;
	border: 1px solid #000;
	float: left;
	margin-top: 60px;
	margin-left: 30px;

}
.sqvare4 {
	width: 200px;
	height: 200px;
	border: 1px solid #000;
	float: left;
	margin-top: 60px;
	margin-left: 30px;

}
.uslugi{
	height: 886px;
	border: 1px solid #000;
}
.uslugi p{
	width: 200px;
	height: 200px;
	border: 1px solid #000;
	float: left;
	margin-top: 60px;
	margin-left: 30px;
}
.uslugi img{
	width: 600px;
	height: 200px;
	border: 1px solid #000;
	float: right;
	margin-top: 60px;
	margin-right: : 30px;
}
.servise{
	height: 1027px;
	border: 1px solid #000;
}
.info{
	height: 990px;
	border: 1px solid #000;
}
footer{
	height: 300px;
	border: 1px solid #000;
}
.logofooter{
	position: relative;
	border: 1px solid #000;
	width: 250px;
	height: 210px;
	float: left;
}