html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	width: 1200px;
	margin: 0 auto;
	padding: 0px;
}

header {
	width: 1200px;
	height: 211px;
	background-color: #1D1105;
}

.logo img {
	margin-top: 20px;
	margin-left: 50px;
	float: left;
}

ul li {
	display: inline-block;
	padding: 15px;
	margin-top: 85px;
	margin-left: 0px;
}

nav a {
	color: #fff;
	text-decoration: none;

}

nav a:hover {
	color: #fff;
	text-decoration: underline;
}

.headercontacts {
	float: right;
	position: relative;
	margin-top: -55px;
	margin-right: 50px;
	

}

.mail {
	font-size: 26px;
	color: #fff;
	text-align: right;
}

.phone {
	font-size: 32px;
	color: #fff;
}

.buttonslider {
	background-color: #412D19;
	width: 200px;
	height: 35px;
	color: #fff;
	text-align: center;
	position: absolute;
	top: 220px;
	left: 150px;
}

.buttonslider p img {
	margin-top: 5px;
	margin-right: 15px;
}

.buttonslider a {
	text-decoration: none;
	color: #fff;
}

.buttonslider:hover {
	background-color: #1D1105;
} 

.slider h2 {
	font-size: 46px;
	color: #fff;
	position: absolute;
	top: 600px;
	left: 150px;
}

.posleslaidera {
	background-color: #1D1105;
	width: 1200px;
	height: 300px;
	display: flex;
	justify-content: center;
}

.square1 {
	width: 250px;
	height: 250px;
	border-radius: 10px;
	border: 1px solid #3F342A;
	background-color: #3F342A;
	margin-top: 25px;
	margin-right: 20px;
	position: relative;
}

.square2 {
	width: 250px;
	height: 250px;
	border-radius: 10px;
	border: 1px solid #3F342A;
	background-color: #3F342A;
	margin-top: 25px;
	margin-right: 20px;
}

.square3 {
	width: 250px;
	height: 250px;
	border-radius: 10px;
	border: 1px solid #3F342A;
	background-color: #3F342A;
	margin-top: 25px;
	margin-right: 10px;
}

.square4 {
	width: 250px;
	height: 250px;
	border-radius: 10px;
	border: 1px solid #3F342A;
	background-color: #3F342A;
	margin-top: 25px;
	margin-left: 10px;
}

.square1 img {
	position: absolute;
	left: 77px;
	top: -20px;
}

.square1 p {
	font-size: 24px;
	color: #fff;
	text-align: center;
	margin-top: 50px;
}

.square1 a {
	text-decoration: none;
	color: #fff;
	border: 1px solid #66483E;
	width: 150px;
	height: 30px;
	background-color: #66483E;
}

.square1:hover {
	border: 1px solid #fff;
	opacity: 0.5;
}

.square2:hover {
	border: 1px solid #fff;
	opacity: 0.5;
}

.square3:hover {
	border: 1px solid #fff;
	opacity: 0.5;
}

.square4:hover {
	border: 1px solid #fff;
	opacity: 0.5;
}

.uslugi {
	background-color: #EAEFF4;
	width: 1200px;
	height: 900px;
}

.dopinfo {
	width: 1200px;
	height: 900px;
}

footer {
	width: 1200px;
	height: 250px;
	background-color: #1D1105;
	position: relative;
}

.logofooter {
	margin-left: 50px;
	margin-top: -50px;
}

.logofooter p {
	font-size: 18px;
	color: #fff;
	padding: 20px;
}

#footersocseti {
	position: absolute;
	top: -40px;
	left: 350px;
}